/*  RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}

html {
  scroll-behavior: smooth;
}
 
:target {
  scroll-margin-top: .8em;
}
/*  VARIABLES */
:root{
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    /* Neutral */

    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* FONT */
    --font-karla: 'Karla', sans-serif; 
    --font-dm-serif:  'DM Serif Display', serif;
}

/*  BODY */
body, html{
    min-width: 100vw;
    min-height: 100vh;
    font-family: var(--font-karla);
    overflow-x: hidden;
}
body h2,h3{
    font-family: var(--font-dm-serif);
}

/*  HEADER */
header{
    width: 100%;
    height: 3.5rem;
    padding: 0.5rem 1.4rem;
    position: relative;
}
header #logo{
    width: 80px;
    margin-top: 0.8rem;
}

header #hamburguer{
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    border: 2px solid;
    padding: 0.4rem 0.2rem;
    cursor: pointer;
}
header .line{
    background-color: black;
    width: 18px;
    height: 2px;
    border-radius: 1rem;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    position: absolute;
}
header #hamburguer .line1{
    top: 23%;
    height: 2.3px;
}
header #hamburguer .line2{
    top: 46%;
}
header #hamburguer .line3{
    top: 70%;
}
header #hamburguer.close .line1{
    transform: rotate(45deg);
    top: 48%;
}
header #hamburguer.close .line2{
    display: none;
}
header #hamburguer.close .line3{
    transform: rotate(132deg);
    top: 48%;
}
header nav{
    display: none;
    width: 100vw;
    height: 56vh;
    background-color: var(--very-dark-violet);
    position: absolute;
    left: 0;
    top: 100%;
    text-align: center;
    color: white;
    padding: 2rem 1rem ;
}
header nav ul li{
    margin-bottom: 1.3rem;
    font-size: 1.2rem;
    cursor: pointer;
}
header nav ul li:last-child{
    width: 225px;
    margin: auto;
    border: 1px solid white;
    padding: 0.5rem;
}
/* header nav ul li:last-child:hover{
    color: white;
    background-color: var(--very-dark-violet);
} */
header nav ul li a{
    color: white;
}
header nav img{
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*  SECTION 1 */
.sec1{
    width: 100%;
    color: white;
    background: var(--dark-violet);
    margin-bottom: 7rem;
}
.sec1 #family img{
    width: 100%;
}
.sec1 .container2{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 .container2 #back1{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
}
.sec1 .container2 #back2{
    width: 100px;
    height: 230px;
    position: absolute;
    top: 70%;
    right: 0;
}

.sec1 .text{
    width: 100%;
    max-width: 450px;
    padding: 2rem;
    text-align: center;
}

.sec1 .text h2{
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
}
.sec1 .text p{
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}
.sec1 .text .button p{
    margin: 0;
    font-size: 0.95rem;
}

/* BUTTON */
.button{
    width: 120px;
    border: 1px solid white;
    margin: auto;
    padding: 0.3rem 0;
}
.button:hover{
    background-color: white;
    color: var(--dark-violet);
    cursor: pointer;
}
/*  CONTAINER */
.container{
    padding: 1rem;
}
/*  SECTION 2 */
.sec2{
    text-align: center;
}
.sec2 h2{
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3rem;
    position: relative;
}
.sec2 h2::before{
    content: "";
    height: 0.5px;
    width: 125px;
    background: var(--dark-grayish-violet);
    position: absolute;
    left: 40%;
    top: -1.5rem;
    border-radius: 8px;
}
.sec2 .card{
    margin: 2.5rem auto;
    max-width: 340px;
}
.sec2 img{
    width: 65px;
    margin-bottom: 1rem;
}
.sec2 h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.sec2 p{
    color: var(--dark-grayish-violet);
    font-size: 1.2rem;
}

/*  SECTION 3 */
.sec3{
    background-color: var(--dark-violet);
    color: white;
    padding: 3rem 2rem;
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}
.sec3 img{
    position: absolute;
    width: 140px;
    height: 90%;
    right: 0;
    top: 0;
}
.sec3 h2{
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
/*  FOOTER */
footer{
    background-color: var(--very-light-gray);
}
footer .content1{
    text-align: center;
    padding: 3.5rem 2rem 1rem 2rem ;
    position: relative;
}
footer .content1::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100%;
    right: 0.1%;
    border-radius: 8px;
    background: var(--dark-grayish-violet);
}
footer .content1 #back2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94%;
    z-index: 2;
}
footer .content1 #logo2{
    width: 100px;
    margin-bottom: 1.5rem;
    position: relative;
}
footer .content1 .icons {
    position: relative;
    z-index: 3;
}
footer .content1 .icons .icon{
    width: 24px;
    margin-right: 0.8rem;
}
footer .content1 .icons .icon:hover{
    fill: red;
    cursor: pointer;
}
footer .content2{
    text-align: center;
    padding: 1rem 0;
    font-family: var(--font-karla);
    font-weight: 100;
    font-size: 0.9rem;
    color: black;
    font-weight: 700;
    z-index: 1;
}
footer .content2 ul li{
    margin: 0.5rem 0;
    
}
footer .content2 ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer .content2 ul li:first-child{
    color: var(--dark-grayish-violet);
    margin: 1.5rem 0;
    position: relative;
}

/* MEDIA QUERIE */
@media screen and (min-width:720px) {
    header{
        padding: 0.5rem 3.3rem;
    }
    header #hamburguer.close{
        display: none;
        z-index: -11;
    }
    header nav{
        background: white;
        color: black;
        width: 60%;
        height: 100%;
        top: -5%;
        left: 35.5%;
        padding: 1rem;
    }
    header nav ul{
        float: right;
    }
    header .list ul li{
        display: inline-block;
    }
    header .list ul li:last-child{
        border: 1px solid black;
        width: 110px;
        padding: 0;
    }
    header .list ul li:last-child a{
        margin: 0;
        line-height: 1.6rem;
    }
    header .list ul li a{
        color: black;
        font-size: 0.85rem;
        margin-right: 0.5rem;
    }
    header nav img{
        display: none;
    }

    .sec1 {
        position: relative;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "text img";
        margin-bottom: 17rem;
    }
    .sec1 #family{
        position: absolute;
        min-width: 380px;
        max-width: 500px;
        max-height: 300px;
        top: 20%;
        bottom: 0;
        grid-area: img;
    }
    .sec1 .container2{
        display: block;
    }
    .sec1 .container2 #back1{
        width: 170px;
        height: 320px;
        left: 0;
        top: 80%;
    }
    .sec1 .container2 #back2{
        width: 320px;
        height: 340px;
        top: 0;
        right: -100%;
    }
    .sec1 .container2 .text{
        text-align: left;
        padding: 4.5rem 0 4.5rem 7vw;
        max-width: 90%;
        margin: 0;
        grid-area: text;
    }
    .sec1 .container2 .text h2{
        font-size: 3rem;
        line-height: 2.7rem;
        margin-bottom: 1.5rem;
        max-width: 580px;
    }
    .sec1 .text h2::before{
        content: "";
        position: absolute;
        height: 1.5px;
        width: 105px;
        top: -1.7rem;
        left: 0;
        border-radius: 8px;
        background: var(--dark-grayish-violet);
    }
    .sec1 .container2 .text p{
        max-width: 580px;
        font-size: 1rem;
    }
    .sec1 .container2 .text .button{
        margin: 0;
    }
    .sec1 .container2 .text .button p{
        text-align: center;
    }

    .sec2{
        text-align: left;
        display: grid;
        grid-template-columns: repeat(3,minmax(100px, 420px));
        grid-template-areas:
        "h2 h2 h2" 
        "card1 card2 card3";
        padding: 0 2rem;
        margin-bottom: 6rem;
        gap: 0 3rem ;
        justify-content: space-evenly;
    }
    .sec2 h2{
        font-size: 3rem;
        height: 50px;
        margin: 0;
        margin-bottom: 2.5rem;
        grid-area: h2;
    }
    .sec2 h2::before{
        height: 1.5px;
        width: 105px;
        left: 0;
    }
    .sec2 img{
        width: 55px;
    }
    .sec2 h3{
        font-size: 1.4rem;
    }
    .sec2 p{
        font-size: 1rem;
    }
    .sec2 .card{
        margin: 0;
    }

    .sec3{
        margin: 0 4rem;
        margin-bottom: 7rem;
        padding: 1.4rem 1.4rem;
    }
    .sec3 img{
        width: 320px;
        height: 100%;
    }
    .sec3 h2{
        text-align: left;
        font-size: 2.2rem;
        width: 310px;
        margin: 0;
    }
    .sec3 .button{
        float: right;
        position: relative;
        top: 50%;
        transform: translate(0, -200%);
    }
    
    footer .content1{
        text-align: left;
        padding: 3.5rem 5rem 1rem 5rem;
    }
    footer .content1 img{
        display: inline-block;
    }
    footer .content1 #back2{
        width: 440px;
        height: 250px;
    }
    footer .content1 .icons{
        float: right;
        width: 160px;
    }
    footer .content2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem 2rem 3rem 5rem;
        text-align: left;
        z-index: 4;
    }
    footer .content1::before{
        width: 95%;
        left: 3%;
    }
}
@media screen and (min-width: 1450px){
    .sec1 #family{
        right: 20%;
    }
}